
<section  class="d-flex justify-content-center align-items-center"
style="
  margin-top: 86px;
  min-height: calc(-106px + 100vh);
  background-color: #1abc9c;
">
<div style="background-color: #1ABC9C;">
  <div class="container">
      <div class="row">
        <div class="col-md">
          <div class="text-center p-5">
            <h1 class="text-white fw-bolder ">Page Not Found 🙃</h1>
          <img class="w-50 p-5" [src]="ImageSrc" alt="Not Found" />
          </div>
        </div>
      </div>
    </div>
</div></section>
