<nav style="background-color: #2C3E50; transition: .6s padding; " class="navbar navbar-expand-lg py-4 fixed-top fw-bolder fs-6">
    <div class="container">
      <a class="navbar-brand text-white  fs-2 text-uppercase" routerLink="/home">START FRAMEWORK</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto mb-auto mb-lg-0">
            <li class="nav-item me-3">
                <a class="nav-link text-white   text-uppercase  mt-3 mt-md-0 px-2" routerLinkActive="active rounded-3" routerLink="/about" >ABOUT</a>
              </li>
              <li class="nav-item me-3">
                <a class="nav-link text-white  text-uppercase  mt-3 mt-md-0 px-2" routerLinkActive="active rounded-3" routerLink="/portfolio">PORTFOLIO</a>
              </li>
              <li class="nav-item me-3">
                <a class="nav-link text-white  text-uppercase  mt-3 mt-md-0 px-2" routerLinkActive="active rounded-3" routerLink="/contact">CONTACT</a>
              </li>
         
        </ul>
      </div>
    </div>
  </nav>