<section
  style="
    margin-top: 86px;
    min-height: calc(-106px + 100vh);
  "
>
  <div class="mb-4">
    <div class="container pt-3">
        <div class="contact section" customcolor="#2c3e50">
            <div class="text-center pt-4" style="color: rgb(44, 62, 80);">
                <h2 class="text-uppercase mb-3 fs-1 fw-bolder">conatct section</h2>
            </div>
            <div class="d-flex justify-content-center align-items-center mb-3">
                <div class="line me-3" style="background-color: rgb(44, 62, 80);"></div>
                <i class="fa-solid fa-star"></i>
                <div class="line ms-3" style="background-color:  rgb(44, 62, 80);"></div>
              </div>
        </div>
        <form class="w-75 inputs p-3 mx-auto mt-5 ">
           <label for="userName" class="position-relative top-0"></label>
           <input type="text" id="userName" placeholder="userName" class="form-control border-0 py-3 position-relative border-bottom">
           <label for="userAge" class="position-relative top-0"></label>
           <input type="number" id="userAge" placeholder="userAge" class="form-control border-0 py-3 position-relative border-bottom">
           <label for="userEmail" class="position-relative top-0"></label>
           <input type="email" id="userEmail" placeholder="userEmail" class="form-control border-0 py-3 position-relative border-bottom">
           <label for="userPassword " class="position-relative top-0"></label>
           <input type="text" id="userPassword " placeholder="userPassword " class="form-control border-0 py-3 position-relative border-bottom">
           <div class="d-flex justify-content-start py-2" >
            <button class=" btn mt-4  text-white" style="background-color: #1abc9c;"> send Message </button>
           </div>
        </form>
    </div>
  </div>
</section>